<!doctype html>
<html>
<head>
    <title>个性签名_微信签名_qq签名设计_男生女生签名大全_小风筝</title>
    <meta charset="utf-8">
    <meta name="keywords" content="签名，微信签名，qq签名，伤感的情侣签名，励志的签名，男生女生签名大全" />
    <meta name="description" content="签名频道收集了当下全网最新、最个性的签名，这里有各种风格的签名，最伤感的情侣签名、有趣的男生签名、文艺的女生签名，更能根据自己的喜好制作独一无二，个性出众的专属签名。" />
    {include file='public/resources'}
</head>
<body class="home">
    {include file='public/header'}
        <div class="content">
             <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                  <div class="layui-card">
                    <div class="layui-card-header">签名</div>
                    <div class="layui-card-body">
                        {foreach($sign as $k=>$r)}
                            <div style="font-size:18px ;font-weight: bold;text-align: left;margin-bottom: 25px;">
                            {$r['sign']}
                            </div>
                        {/foreach}
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
    {include file='public/footer'}
</body>
</html>