<meta charset="utf-8">
<meta name="keywords" content="签名，微信签名，QQ签名，伤感的情侣签名，励志的签名，男生女生签名大全" />
<meta name="description" content="签名频道收集了当下全网最新、最个性的签名，这里有各种风格的签名，最伤感的情侣签名、有趣的男生签名、文艺的女生签名，更能根据自己的喜好制作独一无二，个性出众的专属签名。" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
<link rel="icon" href="/favicon.ico" type="image/x-icon">
<link href="/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/css/groupkit.css">