<div class="footer">
    <div class="content">
        <div class="copy">
            <p>小风筝是一个专业、强大的个性定制网站.</p>
        </div>
        <ul class="company-details">
            <li class="first-li">&copy; 2018 小风筝</li>
            <li>QQ: <a href="qq:+1026431088@qq.com" class="telephone"><span>1026431088</span></a></li>
            <li class="last-li">WeChat：<a href="wechat:yankuan2018">yankuan2015</a></li>
        </ul>
        <div class="cboth"></div>
    </div>
</div>
<script src="/js/vendors/jquery-1.9.1.min.js"></script>
<script src="/js/groupkit.js"></script>