<div class="status-bar">
    <div class="content">
        <div class="order">
            <span class="title">ORDER</span>
                <span class="percentage">
                    <span class="bar" style="width: 70%"></span>
                </span>
            <span>70%</span>
        </div>
        <ul class="auxiliary-navigation">
            <li class="first-li"><a href="#"><i class="fa fa-fw"></i><span>HELP</span></a></li>
            <li><a href="template-double.php"><i class="fa fa-fw"></i><span>CONTACT</span></a></li>
            <li class="last-li"><a href="#"><i class="fa fa-fw"></i><span>RINGLEADER LOGIN</span></a></li>
        </ul>
        <div class="cboth"></div>
    </div>
</div>
<div class="header">
    <h1><a href="#">Group Kit</a></h1>
</div>