<!doctype html>
<html>
<head>
    <title>小风筝_个性自定义</title>
    <meta charset="utf-8">
    <meta name="keywords" content="个性签名，好听的网名，好看的头像，微信封面，最新动态，免费设计" />
    <meta name="description" content="小风筝是一家专业设计个人资料的网站，这里可以找到或者定制个性的网名、头像、签名、封面、评论、留言、动态等等，让你在qq,微信等社交软件或者游戏中个性独特，光彩出众，风格或是有趣的、或是伤感的、或是霸气的、或是搞笑的，自定义自己的style！" />
    {include file='public/resources'}
</head>
<body class="home">
    {include file='public/header'}
        <div class="content">
               <div class="layui-row layui-col-space5">
                <div class="layui-col-md12">
                  <div class="layui-card">
                    <div class="layui-card-header">网名</div>
                    <div class="layui-card-body" style="font-size: 16px;">
                      {foreach($netname as $k=>$r)}
                        {if ($k%4==0)}
                        <div class="layui-row" style="margin: 15px;">
                        <div class="layui-col-xs6 layui-col-sm4 layui-col-md3">
                        {$r['name']}
                        </div>
                        {else}
                        <div class="layui-col-xs6 layui-col-sm4 layui-col-md3">
                        {$r['name']}
                        </div>
                        {/if}
                        {if ($k%4==3)}
                        </div>
                        {/if}
                      {/foreach}
                    </div>
                  </div>
                </div>
              </div>
               <div class="layui-row layui-col-space5">
                <div class="layui-col-md12">
                  <div class="layui-card">
                    <div class="layui-card-header">头像</div>
                    <div class="layui-card-body">
                        {foreach($headpic as $k=>$r)}
                            {if ($k%4==0)}
                            <div class="layui-row layui-col-space10" style="margin-bottom: 15px;">
                            <div class="layui-col-xs6 layui-col-sm4 layui-col-md3">
                            <img src="{$r['headpic']}" style="width: 150px;height: 150px;margin-left: auto;margin-right: auto;" />
                            </div>
                            {else}
                            <div class="layui-col-xs6 layui-col-sm4 layui-col-md3">
                            <img src="{$r['headpic']}" style="width: 150px;height: 150px;margin-left: auto;margin-right: auto;" />
                            </div>
                            {/if}
                            {if ($k%4==3)}
                            </div>
                            {/if}
                        {/foreach}
                    </div>
                  </div>
                </div>
              </div>
               <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                  <div class="layui-card">
                    <div class="layui-card-header">签名</div>
                    <div class="layui-card-body">
                        {foreach($sign as $k=>$r)}
                            <div style="font-size:18px ;font-weight: bold;text-align: left;margin-bottom: 25px;">
                            {$r['sign']}
                            </div>
                        {/foreach}
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
    {include file='public/footer'}
</body>
</html>