<!doctype html>
<html>
<head>
    <title>Group Kit</title>
    {include file='home/view/resources'}
    <link rel="stylesheet" type="text/css" href="js/vendors/slick/slick.css"/>
</head>
<body class="home">
    {include file='home/view/header'}
    <div class="main">
        <div class="content">
            <ul class="entry-points">
                <li class="first-li">
                    <a href="members-sign-in.php">
                        <span class="icon"><i class="fa fa-fw">&#xf031;</i></span>
                        <span class="title">网名</span>
                    </a>
                </li>
                <li>
                    <a href="ringleaders-sign-in.php">
                        <span class="icon"><i class="fa fa-fw">&#xf007;</i></span>
                        <span class="title">头像</span>
                    </a>
                </li>
                <li class="last-li">
                    <a href="template-double.php">
                        <span class="icon"><i class="fa fa-fw">&#xf040;</i></span>
                        <span class="title">签名</span>
                    </a>
                </li>
                <li class="last-li">
                    <a href="template-double.php">
                        <span class="icon"><i class="fa fa-fw">&#xf03e;</i></span>
                        <span class="title">封面</span>
                    </a>
                </li>
                <div class="cleft"></div>
                <li class="last-li">
                    <a href="members-sign-in.php">
                        <span class="icon"><i class="fa fa-fw">&#xf028;</i></span>
                        <span class="title">动态</span>
                    </a>
                </li>
                <li>
                    <a href="ringleaders-sign-in.php">
                        <span class="icon"><i class="fa fa-fw">&#xf075;</i></span>
                        <span class="title">评论</span>
                    </a>
                </li>
                <li class="last-li">
                    <a href="template-double.php">
                        <span class="icon"><i class="fa fa-fw">&#xf002;</i></span>
                        <span class="title">发现</span>
                    </a>
                </li>
                <li class="last-li">
                    <a href="template-double.php">
                        <span class="icon"><i class="fa fa-fw">&#xf085;</i></span>
                        <span class="title">自定义</span>
                    </a>
                </li>
                <div class="cleft"></div>
            </ul>
            <div class="carousel">
                <div class="stage">
                    <div class="slide slide-1" data-garment-price="11.99" data-garment-title="Hoody" data-garment-guid="garm0112hoody">
                        <img src="uploaded/carousel-garment-1-small.png" class="small" />
                        <img src="uploaded/carousel-garment-1-large.png" class="large" />
                    </div>
                    <div class="slide slide-2" data-garment-price="6.99" data-garment-title="Tank Top" data-garment-guid="garm0112tanktop">
                        <img src="uploaded/carousel-garment-2-small.png" class="small" />
                        <img src="uploaded/carousel-garment-2-large.png" class="large" />
                    </div>
                    <div class="slide slide-3" data-garment-price="5.99" data-garment-title="HandMe Down" data-garment-guid="garm01120handMeDown">
                        <img src="uploaded/carousel-garment-3-small.png" class="small" />
                        <img src="uploaded/carousel-garment-3-large.png" class="large" />
                    </div>
                    <div class="slide slide-4" data-garment-price="9.99" data-garment-title="Sweat Top" data-garment-guid="garm01120sweatTop">
                        <img src="uploaded/carousel-garment-4-small.png" class="small" />
                        <img src="uploaded/carousel-garment-4-large.png" class="large" />
                    </div>
                    <div class="slide slide-5" data-garment-price="10.99" data-garment-title="V-Neck Stretch" data-garment-guid="garm01120StretchyBaby">
                        <img src="uploaded/carousel-garment-5-small.png" class="small" />
                        <img src="uploaded/carousel-garment-5-large.png" class="large" />
                    </div>
                     <div class="slide slide-6" data-garment-price="10.99" data-garment-title="V-Neck Stretch" data-garment-guid="garm01120StretchyBaby">
                        <img src="uploaded/carousel-garment-5-small.png" class="small" />
                        <img src="uploaded/carousel-garment-5-large.png" class="large" />
                    </div>
                </div>
                <a href="#" id="price-tag" style="opacity: 0">
                    <span class="hand"><i class="fa fa-fw">&#xf0a4;</i></span>
                    <span class="click">换一批</span>
                    <span class="click-short">Click here</span>
                </a>
            </div>
 
        </div>
    </div>
    {include file='home/view/footer'}
    <script src="js/vendors/slick/slick.js"></script>
</body>
</html>