<meta charset="utf-8">
<meta name="keywords" content="个性签名，好听的网名，好看的头像，微信封面，最新动态，免费设计" />
<meta name="description" content="小风筝是一家专业设计个人资料的网站，这里可以找到或者定制个性的网名、头像、签名、封面、评论、留言、动态等等，让你在社交软件或者游戏中个性独特，光彩出众，风格或是有趣的、或是伤感的、或是霸气的、或是搞笑的，自定义自己的style！" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
<link rel="icon" href="/favicon.ico" type="image/x-icon">
<link href="/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/css/groupkit.css">