<!doctype html>
<html>
<head>
    <title>个性头像_好看的微信头像_qq头像_男生女生头像大全_小风筝</title>
    <meta charset="utf-8">
    <meta name="keywords" content="头像，微信头像，qq头像，好看的情侣头像，可爱的动漫头像，男生女生头像大全" />
    <meta name="description" content="头像频道收集了当下全网最新、最好看的头像，这里有各种风格的头像，好看的情侣头像、可爱的动漫头像、经典的qq头像，更能根据自己的喜好制作独一无二，个性出众的专属头像。" />
    {include file='public/resources'}
</head>
<body class="home">
    {include file='public/header'}
        <div class="content">
           <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                  <div class="layui-card">
                    <div class="layui-card-header">头像</div>
                    <div class="layui-card-body">
                        {foreach($headpic as $k=>$r)}
                            {if ($k%4==0)}
                            <div class="layui-row layui-col-space10" style="margin-bottom: 15px;">
                            <div class="layui-col-xs6 layui-col-sm4 layui-col-md3">
                            <img src="{$r['headpic']}" style="width: 150px;height: 150px;margin-left: auto;margin-right: auto;" />
                            </div>
                            {else}
                            <div class="layui-col-xs6 layui-col-sm4 layui-col-md3">
                            <img src="{$r['headpic']}" style="width: 150px;height: 150px;margin-left: auto;margin-right: auto;" />
                            </div>
                            {/if}
                            {if ($k%4==3)}
                            </div>
                            {/if}
                        {/foreach}
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
    {include file='public/footer'}
</body>
</html>