<!doctype html>
<html>
<head>
    <title>个性头像_好看的QQ微信头像_男生女生头像大全_小风筝</title>
    {include file='touxiang/view/resources'}
    <link rel="stylesheet" type="text/css" href="/js/vendors/slick/slick.css"/>
</head>
<body class="home">
    {include file='touxiang/view/header'}
    <div class="main">
        <div class="content">
            <ul class="entry-points">
                <li class="first-li">
                    <a href="/wangming/">
                        <span class="icon"><i class="fa fa-fw">&#xf031;</i></span>
                        <span class="title">网名</span>
                    </a>
                </li>
                <li>
                    <a href="/touxiang/">
                        <span class="icon"><i class="fa fa-fw">&#xf007;</i></span>
                        <span class="title">头像</span>
                    </a>
                </li>
                <li class="last-li">
                    <a href="/qianming/">
                        <span class="icon"><i class="fa fa-fw">&#xf040;</i></span>
                        <span class="title">签名</span>
                    </a>
                </li>
                <li class="last-li">
                    <a href="#">
                        <span class="icon"><i class="fa fa-fw">&#xf03e;</i></span>
                        <span class="title">封面</span>
                    </a>
                </li>
                <div class="cleft"></div>
                <li class="last-li">
                    <a href="#">
                        <span class="icon"><i class="fa fa-fw">&#xf028;</i></span>
                        <span class="title">动态</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon"><i class="fa fa-fw">&#xf075;</i></span>
                        <span class="title">评论</span>
                    </a>
                </li>
                <li class="last-li">
                    <a href="template-double.php">
                        <span class="icon"><i class="fa fa-fw">&#xf002;</i></span>
                        <span class="title">发现</span>
                    </a>
                </li>
                <li class="last-li">
                    <a href="#">
                        <span class="icon"><i class="fa fa-fw">&#xf085;</i></span>
                        <span class="title">自定义</span>
                    </a>
                </li>
                <div class="cleft"></div>
            </ul>
        </div>
        <div style="width: 1080px;margin-left: auto;margin-right: auto;height: 600px;background: #fff;" >
            {foreach($headpic as $k=>$r)}
            <div style="width: 25%;text-align: center;float: left;margin-bottom: 25px;">
            <img src="{$r['headpic']}" style="width: 140px;height: 140px;margin-left: auto;margin-right: auto;" />
            </div>
            {/foreach}
        </div>
    </div>
    {include file='touxiang/view/footer'}
    <script src="/js/vendors/slick/slick.js"></script>
</body>
</html>