<meta charset="utf-8">
<meta name="keywords" content="头像，微信头像，qq头像，好看的情侣头像，可爱的动漫头像，男生女生头像大全" />
<meta name="description" content="头像频道收集了当下全网最新、最好看的头像，这里有各种风格的头像，好看的情侣头像、可爱的动漫头像、经典的qq头像，更能根据自己的喜好制作独一无二，个性出众的专属头像。" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
<link rel="icon" href="/favicon.ico" type="image/x-icon">
<link href="/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/css/groupkit.css">